body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#gameContainer {
    position: relative;
    width: 60%;
    height: 80%;
    max-width: 800px; 
    border: 3px solid #555; 
    border-radius: 10px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#timerDisplay {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.2rem;
    color: lightgreen;
}

#hintPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

#hintText {
    font-size: 16px;
    color: black; 
    margin-bottom: 20px;
}

#closeHint {
    background: #555;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#closeHint:hover {
    background: #333;
}

#homeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #ff4c4c; 
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    z-index: 15; 
    transition: background-color 0.3s ease;
}

#homeButton:hover {
    background-color: #ff0000; 
}

#gameArea {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}


#gameImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

#cameraButton {
    position: absolute;
    top: 40%; 
    left: 20%; 
    width: 100px; 
    height: 100px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 1px solid red; 
}

#doorButton {
    position: absolute;
    top: 36%; 
    left: 74%; 
    width: 135px;
    height: 170px;
    background-color: transparent;
    border: 2px solid #fff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    display: block;
    z-index: 10; 
    border: 1px solid red; 
}


#doorButton:disabled {
    background-color: gray;
    cursor: not-allowed;
}


#drawerButton {
    position: absolute;
    left: 18%; 
    top: 80%; 
    width: 65px; 
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10; 
    border: 1px solid red; 
}


#cameraImage, #meeting, #bar {
    display: none;
}

#prevCamera, #nextCamera {
    position: absolute;
    bottom: 20%;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
}

#prevCamera:hover, #nextCamera:hover {
    background-color: #333;
}

#prevCamera {
    left: 10%;
}

#nextCamera {
    right: 10%;
}

#clueImage {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border: 3px solid #555;
    border-radius: 5px;
    z-index: 101;
}


#codeInputSection {
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 2px solid #555;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}

#codeInput {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

#closeClueButton {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 20; /* Make sure it's above other content */
}

#closeButton {
    position: absolute;
    top: 2%;
    right: 16%;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 20; 
    display: none; 
}

#paper {
    position: absolute;
    z-index: 100;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    cursor: pointer;
    display: none;
    top: 70%;
    left: 57%;
    transform: translate(-50%, -50%);
}


#closeButton:hover, #closeClueButton:hover {
    background-color: darkred;
}

#levelDescription {
    padding: 10px;
    background-color: #333;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border-top: 2px solid #555;
}

#cameraImage {
    display: none; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    border: 3px solid #555; 
    border-radius: 5px;
    z-index: 10; 
}



